<ion-header>
  <ion-toolbar main>
    <ion-title>
      Options
    </ion-title>
    <ion-buttons start>
      <button (click)="dismiss()">
        <span>Done</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-item-group>-->
      <!--<ion-item-divider>Time to review feedback: {{optionService.feedback_time/1000}} seconds</ion-item-divider>-->
      <!--<ion-range min="3000" max="15000" step="1000" snaps="true" [(ngModel)]="optionService.feedback_time" secondary>-->
        <!--<ion-icon range-left small name="timer"></ion-icon>-->
        <!--<ion-icon range-right name="timer"></ion-icon>-->
      <!--</ion-range>-->
    <!--</ion-item-group>-->
  <ion-item>
    Options coming soon!
  </ion-item>
  </ion-list>
</ion-content>

